@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rowdies&display=swap');


/*Tilte*/

h2 {
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-size: xx-large;
    font-weight: bold;
    color: #75C783;
    margin: 3%;
}

body p {
    font-size: xx-large;
    font-weight: 600;
    color: #6FA6FF;
}

/*General rule*/

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    color: #2F4858;
}

/*Quiz container*/

.quiz-container {
    position: relative;
    height: 200px;
    margin-top: 40px;
}

.question {
    font-size: 30px;
    margin-bottom: 10px;
}

.answers {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}


.answers label{
    display: block;
    margin-bottom: 10px;
}


/*Next and previous buttons*/

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

button {
    background-color: #3E9051;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 62px;
}