@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rowdies&display=swap');


/*Tilte*/

h2 {
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-size: xx-large;
    font-weight: bold;
    color: #E19E20;
    margin: 3%;
}

/*General rule*/

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    background-color: white;
}

/*Quiz area*/

#quiz-container {
    position: relative;
    height: 200px;
    margin-top: 40px;
}


/*Next and previous buttons*/

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }